<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-sm p-4" style="max-width: 420px; width: 100%">

    <div
      class="position-absolute top-0 start-0 p-3 text-secondary"
      style="cursor: pointer"
      routerLink="/login"
    >
      <i class="bi bi-arrow-left fs-4"></i>
    </div>

    <h3 class="text-center mb-4" *ngIf="!token">
      Quên mật khẩu (Độc giả)
    </h3>

    <h3 class="text-center mb-4" *ngIf="token">
      Đặt lại mật khẩu
    </h3>

    <form *ngIf="!token" (ngSubmit)="sendLink()" #f="ngForm">
      <div class="mb-3">
        <label class="form-label">Email đăng ký</label>
        <input
          type="email"
          class="form-control"
          placeholder="example@gmail.com"
          required
          name="email"
          [(ngModel)]="email"
        />
      </div>

      <button
        type="submit"
        class="btn btn-warning w-100"
        [disabled]="f.invalid || loading"
      >
        Gửi link reset mật khẩu
      </button>
    </form>

    <form *ngIf="token" (ngSubmit)="resetPassword()" #f2="ngForm">

      <div class="mb-3">
        <label class="form-label">Mật khẩu mới</label>
        <input
          type="password"
          class="form-control"
          placeholder="Nhập mật khẩu mới"
          required
          name="newPassword"
          [(ngModel)]="newPassword"
          #pwd="ngModel"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$"
        />

        <div class="text-danger mt-1 small" *ngIf="pwd.invalid && pwd.touched">
          <div *ngIf="pwd.errors?.['required']">
            Mật khẩu không được để trống
          </div>
          <div *ngIf="pwd.errors?.['pattern']">
            Mật khẩu phải ≥ 8 ký tự, gồm chữ hoa, chữ thường và số
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Nhập lại mật khẩu</label>
        <input
          type="password"
          class="form-control"
          placeholder="Nhập lại mật khẩu"
          required
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          #cpwd="ngModel"
        />

        <div
          class="text-danger mt-1 small"
          *ngIf="cpwd.touched && confirmPassword !== newPassword"
        >
          Mật khẩu nhập lại không khớp
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success w-100"
        [disabled]="
      f2.invalid ||
      loading ||
      confirmPassword !== newPassword
    "
      >
        Xác nhận
      </button>

    </form>


    <div class="mt-3 text-center">
      <div class="text-success fw-bold" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      <div class="text-danger fw-bold" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>

  </div>
</div>
