<div class="change-wrapper">
  <h2 class="change-title">Đổi mật khẩu</h2>

  <div class="change-card">
    <form (ngSubmit)="updatePassword()" #passwordForm="ngForm">

      <div class="change-row">
        <label class="change-label">Mật khẩu cũ:</label>
        <input
          type="password"
          class="change-input"
          [(ngModel)]="oldPassword"
          name="oldPassword"
          required
        />
      </div>

      <div class="change-row">
        <label class="change-label">Mật khẩu mới:</label>
        <input
          type="password"
          class="change-input"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          minlength="8"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$"
          #newPass="ngModel"
        />

        <small class="text-danger" *ngIf="newPass.invalid && newPass.touched">

          <span *ngIf="newPass.errors?.['required']">
            Mật khẩu mới không được để trống
          </span>

          <span *ngIf="newPass.errors?.['minlength']">
            Mật khẩu phải có ít nhất 8 ký tự
          </span>

          <span *ngIf="newPass.errors?.['pattern']">
            Mật khẩu phải gồm chữ hoa, chữ thường và số
          </span>

        </small>
      </div>

      <div class="change-row">
        <label class="change-label">Xác nhận mật khẩu:</label>
        <input
          type="password"
          class="change-input"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>

      <div class="change-actions">
        <button
          class="save-btn"
          type="submit"
          [disabled]="passwordForm.invalid"
        >
          Cập nhật
        </button>
      </div>

    </form>
  </div>
</div>
