.change-wrapper {
  max-width: 1060px;
  margin: 60px auto;
  background: #ffffff;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-family: "Arial", sans-serif;
}

.change-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  color: #333;
}

.change-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.change-row {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 15px;
  align-items: center;
  padding-bottom:25px;
}

.change-label {
  font-weight: bold;
  color: #555;
  text-align: right;
}

.change-input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

.change-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.save-btn {
  background: #2c7a7b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.save-btn:hover {
  background: #225e5f;
}

.back-btn {
  background: transparent;
  border: none;
  color: #2c7a7b;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index:999;
}

.back-btn:hover {
  text-decoration: underline;
}

