.logo{
  font-family: cursive;
  font-size: 35px;
  text-align: center;
  color: #dcc466;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 100;
}

.btn-login{
  background-color: #e6d9a2;
  color:#fff;
}

.btn-login:hover{
  background-color: #dfc85e;
}

.register-link{
  margin-top:15px;
  margin-bottom: 10px;
  color: #dcc466;
  cursor: pointer;
}

.register-link:hover{
  text-decoration: underline;
}


